.color-primary {
  background-color: #171923;
  color: white !important;
}

.color-secondary {
  background-color: #41D2F2;
  color: white;

}

.tabbers {
  color: white;
  background-color: white;
}

.nav-link {
  color: white !important;
}



.navbar-brand {
  color: white !important;
}

.text-color {
  color: white !important;
}

.sidebar {
  box-shadow: 4px 4px 21px 0px rgba(0,0,0,0.31);
  -webkit-box-shadow: 4px 4px 21px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 4px 4px 21px 0px rgba(0,0,0,0.31);
}

.font {
  font-family: 'Lato', sans-serif !important;
  font-family: 'Roboto', sans-serif !important;
  font-family: 'Varela Round', sans-serif !important;
  letter-spacing: .5px;
  font-weight: bold;
}

.bg-tab-color {
background-color: #f7fafc;
color: black;
}

.jumb-color {
  background-color: #171923;
  color: black;
}

.jumbo-color-example {
  background-color: #171923;
  color: black;
}

.border-color {
  background-color: #b9bbbd;
}

.code-color {
  color: #66fcf1;
  font-size: 1.5vw !important;
}

.indent {
  margin-left: 6px;
}