.color-primary {
  background-color: #171923 !important;
  color: white !important;
}

.color-secondary {
  background-color: #41D2F2 ;
  color: white;

}

.tabbers {
  color: white;
  background-color: white;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.text-color {
  color: white !important;
}

.sidebar {
  box-shadow: 4px 4px 21px 0px rgba(0,0,0,0.31);
  -webkit-box-shadow: 4px 4px 21px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 4px 4px 21px 0px rgba(0,0,0,0.31);
}

.font {
  font-family: 'Lato', sans-serif !important;
  font-family: 'Roboto', sans-serif !important;
  font-family: 'Varela Round', sans-serif !important;
  letter-spacing: .5px;
  font-weight: bold;
}

.bg-tab-color {
background-color: #f7fafc;
color: black;
}

.jumb-color {
  background-color: #171923;
  color: black;
}

.jumbo-color-example {
  background-color: #171923;
  color: black;
}

.border-color {
  background-color: #b9bbbd;
}

.code-color {
  color: #66fcf1;
}

/*---------------------------------------------------------------*/

.code-panel {
  border: 1px solid rgb(0, 0, 0);
  background-color: #171923;
  border-radius: 5px;
  text-align: auto;
  margin: 10px auto;
  padding: 5px;
  width: auto;
  transition-duration: 0.5s;
}

.code-panel:hover {
  background-color: #2d3144;
}

.code-text::selection {
  background: chocolate;
}

.code-text {
  text-align: left;
  font-family: Consolas,"courier new";
  color: #66fcf1;
  background-color: transparent;
  padding: 10px;
  font-size: 20px;
}

.code-back {
  background-color: rgb(247, 231, 234);
}

.code-h2 {
  text-align: center;
  margin: 10px auto;
  padding: 5px;
  width: 500px;
  color: rgb(22, 22, 22);
}
.code-center {
  margin: 0px auto;
  width: 50%;
  /* border: 3px solid green; */
}
.code-p {
  text-align: left;
  margin: 10px 115px;
  padding: 5px;
  width: auto;
  color: rgb(34, 34, 34);
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: transparent;
  padding: 2px;
  font-size: 105%;
  border-radius: 5px;
}


/* Logo Font */

.logo-font {
  font-family: bomberEscortItalic;
  font-size: 30px;
  text-decoration: none;
  color: white;
  text-align: left !important;

  overflow:hidden;
   -webkit-transition:width 1s;
   transition:width 1s;
   white-space:nowrap;
}

.logo-font:hover {
  color: white;
  -webkit-transition:width 1s;
   transition:width 1s;
}

.logo-font:hover::after {
  content:'Add new result';
}


/* Logo Btn */

#logo-btn {
  width:90px;
  height:50px;
  background-color: transparent;
  border: transparent;
  
  font-family: bomberEscortItalic;
  font-size: 30px;
  text-decoration: none;
  color: white;

  overflow:hidden;
  -webkit-transition:width 1s;
  transition:width 1s;
  white-space:nowrap;
}
#logo-btn:hover span {
  display:none
}
#logo-btn:hover {
  width: 300px;
  color: white;
  -webkit-transition:width 1s;
   transition:width 1s;
}
/* .logo-btn:hover::before {
  content:"<I-UI>"
} */
/* .logo-btn:hover::after {
  content:'<Immaculate-UI>';
} */

/* Email display homepage */
.email {
  text-align: right !important;
  font-size: 15px;
}





@font-face {
  font-family: spikeSpeak;
  src: url('../font/SpikeSpeak.ttf');
}

@font-face {
  font-family: bomberEscortItalic;
  src: url('../font/BomberEscortItalic.otf');
}


